@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

body {
  width: 100%;
  font-family: 'Encode Sans', sans-serif;
}

header {
  width: 100%;
}

.banner {
  width: 100%;
  position:absolute;
  left:0;
  right:0;
}

#top {
  background-color: #4B2F83;
  height: 9%;
  z-index: 1;
}

#bottom {
  background-color: #444444;
  height: 15%;
}

#uw-logo-wrapper {
  vertical-align: middle;
}

#uw-logo {
  width: 40%;
  min-width: 200px;
  z-index: 2;
}

/*
form {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
*/
